body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    max-width: 1000px;
    
 }

#course-title {
    position: relative;
    display: block;
    padding-left: 200px;
    padding-top: 20px;
    font-size: 20px;
    background-color: rgb(1, 101, 101);
    height: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    
}

nav ul li {
    flex: 1 0 auto;
}

nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

main {
    display:grid;
    
    place-items: center;
    text-align: center;
    border: 3px solid red;
}

 h1 {
    position: absolute;
    top: 30px;
    left: 590px;
    margin: 0;
    color: yellow;
    font-size: 18px;
}

.myPict {
    width: 150px;
    height: 230px;
}

.flag {
    width: 150px;
    height: 100px;
}

