body {
    font-family: 'Roboto', sans-serif;
 }

 header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 2px solid rgb(197, 212, 197);
    padding: 5px;
    background-color: rgb(203, 203, 255);
 }

 main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
 }

 section {
    padding: 10px;
    background-color: rgb(255, 246, 246);
 }